.chatBotContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(45deg,#F4F0FF, #bcafe1,transparent);
    min-height: 100vh;
    gap: 20px;
}
.chatbotPopup {
    width: 430px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.chatbotPopup .chatHeader{
    display: flex;
    background: #6D4FC2;
    justify-content: space-between;
    align-items: center;
    padding: 15px 22px;
}
.chatHeader .headerInfo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.headerInfo svg{
    /* color: white; */
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #6D4FC2;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
}
.headerInfo .logoText{
    color: white;
    font-size: 1.31rem;
    font-weight: 600;
}
.chatHeader button{
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background: #593bab;
    color: #fff;
    padding-top: 2px;
    border-radius: 50%;
    margin-right: -10px;
    background: none;
    font-size: 9px;
    transition: 0.2s ease-in-out;
}
.chatHeader button:hover{
    background: #593bab;
}
.chatBody{
    padding: 25px 22px;
    overflow-y: auto;
    height: 420px;
    flex-direction: column;
    gap: 20px;
    display: flex;
}
.chatBody .message{
    display: flex;
    align-items: center;
    gap: 11px;
}
.chatBody .botMessage svg{
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 2px;
    fill: white;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;   
}

.chatBody .message .messageText {
    /* background: #6D4FC2; */
    padding: 10px 16px;
    max-width: 75%;
    align-items: flex-end;
    display: flex;
    justify-content: end;
    width: 100%;
    
}
.chatBody .botMessage .messageText{
    background: #F6F2FF;
    border-radius: 13px;
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 0.95rem;

}
.chatBody .userMessage{
    flex-direction: column;
    align-items: flex-end;
}
.chatBody .userMessage .messageText{
    color:"white";
    background: #6D4FC2;
    border-radius: 13px;
}
.chatFooter{
    position: absolute; 
    bottom: 0;
    width: inherit;
    background: white;
    /* padding: 15px 22px 20px; */
}
.chatFooter .chatForm{
    display: flex;
    align-items: center;
    background: #fff;
    outline: 1px solid #CCCCE5;
}
.chatForm .messageInput{
    border: none;
    outline: none;
    background: none;
    height: 47px;
    padding: 0 17px;

}